*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
}

body{
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #f9f9f9;
  display: flex;
  justify-content:center;
}
.ig-geral{
  display: flex;
  align-items: center;
  justify-content:start;
  width: 55%;
  height: 100vh;
}
.ig-esquerda{
  display: flex;
  align-items: center;
  justify-content:center;
  width: 50%;
}
.ig-esquerda img{
  height: 50rem;
}
.ig-direita{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  flex-direction: column;
  min-height: 42rem;
  margin-top: 30px;
}
.entrar{
  display: flex;
  align-items: center;
  justify-content:space-around;
  background-color: white;
  flex-direction: column;
  width: 80%;
  padding: 1.3rem 0;
  border: 1px solid lightgray;
}
.entrar:nth-child(1){
  min-height: 27rem;
}
.ig-logo{
  height: 3.5rem;
  margin: 10px 0 30px 0;
}
.entrar input{
  background-color: #f9f9f9;
  padding: 11px;
  width: 75%;
  font-size: 11px;
  color: darkgray;
  border-radius: 3px;
  border-width: thin;
  border-color: lightgray;

}
.botao-entrar{
  text-align: center;
  background-color: #0095f6;
  color: #ffffff;
  padding: 8px;
  border-radius: 4px;
  width: 75%;
}
.separador{
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
}
.separador hr{
  width: 40%;
  border: solid lightgray;
  border-width: 2px 0 0 0;
}
.separador span{
  font-family: monospace;
  color: darkgray;
  font-weight: bold;
}
.entrar-com-face{
  width: 75%;
  display: flex;
  align-items:center;
  justify-content:center;
  margin: 10px 0;
}
.entrar-com-face a{
  color: #3b5998;
  font-weight: bold;
  margin-left: 10px;
}
.icone-face{
  height: 16px;
  width: 16px;
  background-image: url('img/face.svg');
  background-size: cover;
}
.esqueceu-senha{
  font-size: 11px;
  color: #3b5998;
}
.entrar:nth-child(2){
  flex-direction: row;
  justify-content: center;
}
.entrar p{
  font-weight: normal;
  font-size: 13px;
  font-family: verdana;
}
.cadastre{
  color: #0095f6;
  margin-left: 5px;
  font-family: verdana;
}
.baixar-app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.3rem 0;
}
.baixar-app p{
  font-size: 13px;
  font-family: verdana;
}
.baixar{
  /* display: flex;
  align-items: center;
  justify-content:space-around;
  width: 100%; */
  display: flex;
  width: 100%;
  justify-content:center;
  align-items: center;
  padding: 1rem;
}
.loja-baixar{
  height: 3rem;
  width: 10rem;
  background-size: cover;
}
.loja-baixar:nth-child(1) {
    background-image: url('img/apple-button.png');
    margin-right: 5px;
}
.loja-baixar:nth-child(2) {
    background-image: url('img/googleplay-button.png');
    margin-left: 5px;
}

/* media queries */


@media (max-width: 1024px) {
    .ig-geral {
        width: 90%;
    }
}

@media (max-width: 720px) {
    body {
        background-color: #f9f9f9;
    }

    .ig-geral {
        width: 90%;
    }

    .ig-esquerda {
        display: none;
    }

    .ig-direita {
        width: 100%;
    }

    .entrar {
        border: 1px solid transparent;
    }
}
